h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
    border-radius: 20px;
    margin-bottom: 25px;
}
.card img{
    height: 200px;
}
.btn{
    display: block;
    background-color: cornflowerblue;
}
.btn:hover{
    background-color: blueviolet;
    color: white;
}