.footer-content{
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}
.footer-refs-content-1 h5, .footer-refs-content-2 h5, .footer-refs-content-3 h5, .footer-refs-content-4 h5, .footer-refs-content-5 h5{
	font-family: Roboto;
	font-weight: 100;
	font-size: 23px;
	color: rgb(180, 157, 157);
}
.footer-refs-content-1 h5 , .footer-refs-content-2 h5 , .footer-refs-content-3 h5, .footer-refs-content-4 h5, .footer-refs-content-5 h5{
	font-weight: 700;
}
.footer-refs-content-1 ul, .footer-refs-content-2 ul, .footer-refs-content-3 ul, .footer-refs-content-4 ul, .footer-refs-content-5 ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.footer-refs-content-1 ul li a, .footer-refs-content-2 ul li a, .footer-refs-content-3 ul li a, .footer-refs-content-4 ul li a{
	color: whitesmoke;
	font-size: 15px;
	text-decoration: none;
	line-height: 20px;
	transition: 0.4s;
}
.footer-refs-content-1 ul li a:hover, .footer-refs-content-2 ul li a:hover, .footer-refs-content-3 ul li a:hover, .footer-refs-content-4 ul li a:hover{
	color: #42b3f4;
	padding-left: 10px;
}
.footer-content{
	display: flex;
}
.footer-refs-content-1{
	width: auto;
}
.footer-refs-content-2{
	width: auto;
}
.footer-refs-content-3{
 width: auto;
}
.footer-refs-content-4{
    width: 20%;
    border-right: 2px solid rgb(149, 135, 135);
}
.footer-refs-content-5{
    width: auto;
    margin-left: 10%;
}

.footer-refs-content-1 h5, .footer-refs-content-2 h5, .footer-refs-content-3 h5, .footer-refs-content-4 h5{
	padding-bottom: 10px;
	margin-right: 100px;
}
.lower-footer{
	width: 100%;
	color: #fff;
	font-size: 13px;
	font-family: Roboto;
	font-weight: 300;
	background: #112220;
}
.lower-footer-content{
	width: 90%;
	margin: 0 auto;
	padding: 5px 0;
	display: flex;
}
#footer-align-left{
	width: 85%;
	padding: 13px 0;
}
#footer-align-right{
	text-align: right;
	width: 15%;
	padding: 0;
}
#footer-align-right a{
	padding: 0 4px;
	color: #fff;
	transition: 0.3s;
}
#footer-align-right a:hover{
	color: #43b9e0;
}

		@media (max-width: 968px) {
			html {
			  font-size: 50%;
			}
		  }
		  
		   @media (max-width: 768px) {
			.footer{
			  margin-left: 0;
			}
		  
		 .footer-content{
			  width: 100%;
			  height: auto;
			  display: grid;
			  grid-template-columns: 1fr;
			  display: block;
			}
			/* .footer-refs-content-1 h5, .footer-refs-content-2 h5, .footer-refs-content-3 h5, .footer-refs-content-4 h5, .footer-refs-content-5 h5{
				color: rgb(180, 157, 157);
			}
			.footer-content .footer-refs-content-1, .footer-refs-content-3, .footer-refs-content-4, .footer-refs-content-5{
			  width: 100%;
			}
			.footer-content .footer-refs-content-2{
                margin-left: 135px;
			}
			.footer-content .footer-refs-content-3{
				margin-left: 270px;
			}
			.footer-content .footer-refs-content-5{
				margin-left: 240px;
			}*/
		  }