@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  
}

.mainclass{
  background-color: #fff;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
  text-decoration: solid;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: red !important;
}
.main_div{
  height: 25px;
  width: auto;
}
@media (max-width: 991px){
  .navbar-brand{
    font-size: 1.5rem !important;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
  .center{
    justify-content: center;
  }
}


#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: #3498db;
}
#header h2{
  color: #484848;
  font-size: 24px;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #331f62;
  border: 2px solid black;
  text-decoration: none;
  align-items: flex-end;
}
.btn-success{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #3498db;
  text-decoration: none;
  align-items: flex-end;
}
#header .btn-get-started:hover{
  background:  #3498db;
  color: #fff;
}
.header-img{
  text-align: right;
}

#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.card{
    width: 18rem;
    margin-top: auto;
    background-color: gray;
    }
.covid_img{
  width: 100%;
  height: 50vh;
  margin-top: 20px;
  margin-bottom: 20px;
}